body {
    background-color: red;
}

.overlay {
    /* outline: 1px solid green; */
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(360deg, rgba(20, 8, 53, 0.8) 0%, rgba(105, 76, 190, 0.8) 100%);
}

.picket-container {
    /* outline: 1px solid green; */
    flex-direction: column;
    width: min(80vw,800px);
    height: fit-content;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99999;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
}

.picket-heading {
    /* outline: 1px solid green; */
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    font-weight: 550;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    /* line-height: 48px; */
}

.picket-cover {
    /* outline: 1px solid green; */
    margin-bottom: 10px;
    height: 200px;
    width: auto;
}

#picket-page1 {
    /* outline: 1px solid green; */
    display: flex;
}

#picket-page2 {
    /* outline: 1px solid green; */
    display: none;
}

.link-advocates {

}
.alternative-site {
    /* outline: 1px solid green; */
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    font-size: 19px;
    color: #000000;
    background: none;
    transition: 0.3s all ease;
    margin: 0px;
}
.alternative-site:hover {
    color: #9773FF;
    cursor: pointer;
    transition: 0.3s all ease;
}
.alternatives-div {
    /* outline: 1px solid green; */
    padding-top: 20px;
    padding-bottom: 20px;
    width: 70%;
}

.proposal-count {
    /* outline: 1px solid green; */
    margin-bottom: 30px;
    font-size: 30px;
    width: 100%;
    color: #5E5E5E;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    /* line-height: 48px; */
}

.proposal-title {
    /* outline: 1px solid green; */
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    font-weight: 550;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    /* line-height: 48px; */
}

.proposal-title-more {
    /* outline: 1px solid green; */
    margin-bottom: 10px;
    width: 100%;
    /* border: 1px solid black; */
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    /* line-height: 48px; */
}

.primary-button {
    /* outline: 1px solid green; */
    margin-bottom: 30px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    background: #9773FF;
    font-family: Helvetica, sans-serif;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

.primary-button:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 0.3s all ease;
}

.cross-picket-button {
    /* outline: 1px solid green; */
    text-decoration: underline;
    font-family: Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    font-size: 13px;
    width: fit-content;
    text-align: center;
    transition: 0.3s all ease;
}

.cross-picket-button:hover {
    cursor: pointer;
    transition: 0.3s all ease;
    color: #9773FF;
}
.parents {
    /* outline: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
}
.sub-text {
    /* outline: 1px solid green; */
    margin-bottom: 0px;
    color: #000000;
    font-family: Helvetica, sans-serif;
    text-align: left;
    line-height: 30px;
    font-weight: lighter;
    font-size: 20px;
    font-style: normal;
}