body {
    background-color: red;
}

.overlay {
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(360deg, rgba(20, 8, 53, 0.8) 0%, rgba(105, 76, 190, 0.8) 100%);
}

.picket-container {
    flex-direction: column;
    width: 80vw;
    height: fit-content;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99999;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
}

.picket-heading {
    width: 100%;
    /* border: 1px solid black; */
    text-align: center;
    font-weight: 550;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    line-height: 48px;
}

.picket-cover {
    /* width: 80%;
    height: auto; */
    height: 200px;
    width: auto;
}

#picket-page1 {
    display: flex;
}

#picket-page2 {
    display: none;
}

.link-advocates {

}
.alternative-site {

}
.alternatives-div {

}

.proposal-count {
    width: 100%;
    color: #5E5E5E;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    line-height: 48px;
}

.proposal-title {
    width: 100%;
    /* border: 1px solid black; */
    text-align: center;
    font-weight: 550;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    line-height: 48px;
}

.primary-button {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    background: #9773FF;
    font-family: Helvetica, sans-serif;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.primary-button:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 0.3s all ease;
}

.cross-picket-button {
    text-decoration: underline;
    font-family: Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    font-size: 13px;
    line-height: 24px;
    width: fit-content;
    text-align: center;
    transition: 0.3s all ease;
}

.cross-picket-button:hover {
    cursor: pointer;
    transition: 0.3s all ease;
    color: #9773FF;
}